[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
	branch = master
[submodule ".emacs.default"]
	path = .config/emacs.default
	url = git@github.com:sdaaish/emacs.d.git
	branch = develop
	ignore = dirty
[submodule ".emacs.doom"]
	path = .config/emacs.doom
	url = https://github.com/hlissner/doom-emacs
	branch = master
	ignore = dirty
